.auth-page {
  min-height: 100vh;
  background: radial-gradient(circle, #031c3f, #020b1f);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 460px;
  padding: 40px;
  background: linear-gradient(180deg, #03142f, #020b1f);
  border-radius: 10px;
}

.auth-card h2 {
  color: #fff;
  margin-bottom: 25px;
}

.auth-card input {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  background: #020b1f;
  border: none;
  color: #fff;
  border-radius: 4px;
}

.primary-btn {
  width: 100%;
  padding: 14px;
  background: #12c7a8;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.google-btn {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  background: #6c78ff;
  border: none;
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.google-btn img {
  width: 18px;
}

.switch-text {
  margin-top: 20px;
  color: #cfd6e1;
  text-align: center;
}

.switch-text span {
  color: #12c7a8;
  cursor: pointer;
}
